@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grid {
    background-image: radial-gradient(circle at 1px 1px, rgba(255,255,255,0.05) 1px, transparent 0);
    background-size: 40px 40px;
}

html {
  scroll-behavior: smooth;
}